*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    text-align: center;
    position: absolute;
    width: 35em;
    height: 25.5em;
    background-color: white;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    box-shadow: 0 7px 10px 10px rgba(0, 0, 0, .1);
}

header{
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #EDCF80;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    
}

@font-face{
    src: url(font/Allenoire.otf) format("opentype");
    font-family: Allenoire;
}

nav {
    line-height: 0%;
}

.catatanmu{
    font-family: Allenoire;
    font-size: 1.8em;
    color: #6A532E;
    float: left;
}

li{
    font-size: 1em ;
    float: right;
    align-items: center;
}

.db_ref{
    color: #6A532E;
    text-decoration: none;
    align-items: center;
}

.userlogo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.greeting{
    color: #6A532E;
}